/* STYLE */
.LandingPage {
    height: 100vh;
    background-color: var(--grey);
    display: flex;
    flex-direction: columns;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    padding: 2em 0;
}

.title h1 {
    color: var(--yellow);
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    line-height: 0.3em;
    text-align: center;
    -webkit-transform:scale(1.5,1); /* Safari and Chrome */
    -moz-transform:scale(1.5,1); /* Firefox */
    -ms-transform:scale(1.5,1); /* IE 9 */
    -o-transform:scale(1.5,1); /* Opera */
    transform:scale(1.5,1); /* W3C */
}

.title .outlined {
    color: var(--grey);
    text-shadow: -1px -1px 0 var(--yellow),
		 1px -1px 0 var(--yellow),
		 -1px 1px 0 var(--yellow),
		 1px 1px 0 var(--yellow);
}

.options, form {
    background-color: var(--white);
    padding: 2em;
    border-radius: 25px;
}

.options h2, form h2 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.options .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3em 0 0 0;
}

.options button, form button {
    color: var(--grey);
    background-color: var(--cream);
    border: 1px solid var(--cream);
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
    display: inline-block;
    padding: 13px 13px;
    cursor: pointer;
    width: fit-content;
}

.options button:hover, form button:hover {
    color: var(--cream);
    background-color: var(--grey);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#login {
    height: 55vh;
    width: 20vw;
}

#signup {
    height: 65vh;
    width: 20vw;
}

.inputField {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--grey);
    text-align: left;
}

.inputField input {
    color: black;
    padding: 10px;
    margin-top: 6px;
}

form button {
    align-self: center;
}

form .errorMessage {
    color: var(--red);
    padding: 0;
    margin: 0;
}
