.actionForm {
    text-align: left;
    background-color: var(--cream);
    width: 40vw;
}

.actionForm img {
    width: 100px;
    display: inline;
}

.actionForm input {
    width: 36vw;
}

#changePicture .previewText {
    display: inline;
}

#deleteAccount button {
    color: var(--white);
    background-color: var(--red);
    border: 2px solid var(--red);
    margin-top: 30px;
}

#deleteAccount button:hover {
    color: var(--red);
    background-color: var(--white);
    border: 2px solid var(--red);
}
