.actionForm {
    width: 40vw;
    text-align: left;
    background-color: var(--cream);
    margin-bottom: 30px;
}

.actionForm label {
    font-weight: 600;
}

.actionForm input {
    width: 36vw;
}

.actionForm button {
    position: relative;
    color: var(--white);
    background-color: var(--red);
    border: 2px solid var(--red);
}

.actionForm button:hover {
    color: var(--red);
    background-color: var(--white);
    border: 2px solid var(--red);    
}

#changePicture img {
    height: 100px;
    display: block;
}

#deleteAccount {
    text-align: center;
}

#deleteAccount button {
    color: var(--white);
    background-color: var(--red);
    border: 2px solid var(--red);
    margin-top: 30px;
}

#deleteAccount button:hover {
    color: var(--red);
    background-color: var(--white);
    border: 2px solid var(--red);
}
