/* GENERAL */
:root {
    --grey: #424651;
    --yellow: #FFC847;
    --cream: #E0D0C1;
    --cream2: #F1EAE4;
    --red: #C22755;
    --white: #F7F9F9;
}

body {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		 monospace;
}

.cool {
    font-weight: 500;
    text-decoration: underline;
    text-underline-position: under;
    position: relative;
}

.cool::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 105%;
    left: -2.5%;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(111.3deg, var(--yellow) 9.6%, var(--red) 93.6%);
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,800;1,500;1,900&display=swap');